/* ************************* */
/* BASE DECLARATIONS */
/* ************************* */

/* Font size based on viewport (baseline - to be adjusted, based on screen width, later on) */
:root {
  font-size: calc(1vw + 0.6em);
}

/* Universal border-box fix */
:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset links */
/* TODO: customize links */
a {
  color: inherit;
  text-decoration: none;
}
/* FIX: */
/* VARIABLE DECLARATIONS */

/* TODO: add more colors as variables to account for the changed design */
:root {
  --theme-color: #1e233d;
  --theme-color-transparent: rgba(30, 35, 61, 0.5);
  --theme-color-less-transparent: rgba(30, 35, 61, 0.75);
  --theme-color-even-less-transparent: rgba(30, 35, 61, 0.9);
  --gradient-color1: rgba(30, 35, 61, 1);
  --gradient-color2: rgba(0, 76, 164, 1);
  --gradient-color3: rgba(127, 231, 255, 1);
  --gradient-color4: rgba(255, 114, 74, 1);
  --gradient-color5: rgba(200, 1, 47, 1);
  --gradient-color6: rgba(57, 0, 74, 1);
  --gradient-color7: rgba(30, 35, 61, 1);
  --accent-color: #e9c46a;
  --background-color: #d3d3d3;
  --light: #eee;
  --dark: #111;
  --text-color: #eee;
}

/* #BM HIGH-LEVEL DECLRATIONS */

body {
  margin: 0;
  font-family: "Catamaran";
  color: var(--text-color);
  /* fallback for potential linear-gradient failure */
  background: var(--theme-color);
  background: linear-gradient(
    180deg,
    var(--gradient-color1) 0%,
    var(--gradient-color2) 25%,
    var(--gradient-color3) 40%,
    var(--gradient-color4) 55%,
    var(--gradient-color5) 70%,
    var(--gradient-color6) 85%,
    var(--gradient-color7) 100%
  );
  /* add color overlay to body */
  box-shadow: inset 0 0 0 100vw var(--theme-color-less-transparent);
}

/* to ensure that the overlay stretches out over the entire page
this is useful when device.height > content.height */
html {
  height: 100%;
}
body {
  min-height: 100%;
}

button:active {
  transform: scale(0.95);
}

button {
  color: var(--text-color);
}

/* #BM DEFINE GRID */

.container {
  display: grid;
  grid-template-rows: auto 24rem auto auto;
  grid-template-areas: "grid-nav" "grid-cover" "grid-main" "grid-footer";
  min-width: 240px;
}

/* #BM SOME SCALING (mainly to account for larger displays) */
/* TODO: check/test whether these make sense and how these relate to RWD */

/* standard */
.container {
  margin: 0;
}

/* 1366px L */
@media screen and (min-width: 85.375em) {
  .container {
    margin: 0 6%;
  }
  :root {
    font-size: calc(0.83vw + 0.6em);
  }
}

/* 1920px XL */
@media screen and (min-width: 120rem) {
  .container {
    margin: 0 12%;
  }
  :root {
    font-size: calc(0.67vw + 0.6em);
  }
}

/* 2560px XXL */
@media screen and (min-width: 160rem) {
  .container {
    margin: 0 18%;
  }
  :root {
    font-size: calc(0.5vw + 0.6em);
  }
}
